@model Zapatilla


<h1>Vistas parciales Ajax</h1>
 

 
<h1>@Model.Nombre</h1>
<h1>@Model.Precio</h1>
<h1>@Model.IdProducto</h1>
<hr/>


 
<div id="contenido" ></div>
 @section Scripts {
     <script>
        $(document).ready(function() {
            
              $("#contenido").load("/Zapatillas/_ImagenesPartial?id="+@Model.IdProducto);
            
        })
     </script>
 }
